* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #d7f2e3;
    text-align: left;
    list-style-position: inside;
    margin: 10px;
}

#homepage-h1, #homepage-ul {
    text-align: center;
    line-height: 1.7;
}

#homepage-ul li {
    list-style: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    list-style-image: url("./images/bulletface.png");
}

#homepage-ul li a {
    background-color: #EEEEEE;
    color: #0000ff;
    text-decoration: none;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}